.l_main_column
{
    margin: 10% 0;
}

.logo
{
    display: block;
    font-family: "Segoe UI", "Georgia", "serif";
    margin: 0 19% 80px 19%;
    font-size: 6em;
}

.e_logo_input
{
    width: 35%;
}

.e_btn_login
{
    width: 18.3%;
}

.balance
{
    margin: 60px 0 30px;
    overflow: visible;
}

.btn_balance
{
    margin-top: -14px;
}

.btn_addtax
{
    margin-top: -10px;
    float: left;
}

.btn_payall
{
    margin-top: -10px;
    float: right;
}

.balance_title
{
    display: inline-block;
    margin: 0 0 -5px 0;
}

.balance_text
{
    font-size: 2em;
}

.btn-link
{
    padding: 3px;
}

.wrapper
{
    width: 800px;
    margin: 0 auto;
}

.center
{
    margin-top: 20%;
}

.log_value
{
    font-weight: bold;
}

.log_positive
{
    color: green;
}

.log_negative
{
    color: red;
}

.l_accordion_section
{
    width: 260px;
    margin-top: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.e_accordion_input
{
    width: 100%;
} 

.l_taxes_section:after {
  content: "";
  display: table;
  clear: both;
}

.error_message
{
   margin-top: 6px;
   margin-left: 12px;
   margin-bottom: 0;
   color: red; 
}